<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Devices info</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body>
    <div id = "wrapper">
        <div id = "header">
            <form action="/iPhone/" method="post">
                <button type="submit">iPhone</button>
            </form>
            <button type="button">iPad</button>
            <button type="button">iPod</button>
        </div>
        <div></div>
        <div id = "table_style">
            <table>
                <tr>
                    <th>Device Name</th>
                    <th>Release Date</th>
                    <th>Model</th>
                    <th>ID</th>
                    <th>Storage Capacity</th>
                </tr>
                {% for item in items %}
                <tr>
                    <td>{{ item }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</body>
</html>